.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 1.5rem;
    background-color: rgb(6, 1, 17);
    color: #fff;
}

.header__logo {
    display: flex;
    flex-direction: row;

    margin-right: 5px;
}
.header__menu {
    display: flex;
    gap: 1rem;
}
.menu__listactive--btn {
    background-color: rgb(145, 216, 14);
    color: black;

    border-radius: 2rem;
}
ul li {
    padding: 10px;

    text-decoration: none;
    list-style: none;
    color: darkgrey;
}
ul li:hover {
    cursor: pointer;
    background-color: rgb(145, 216, 14);
    color: #fff;

    border-radius: 2rem;
}