.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 10px;
}

.header__logo {
    display: flex;
    flex-direction: row;

    margin-right: 5px;
}